<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Add Student</h2>

    <form class="" action="index.html" method="post">
       Enter Name:<input type="text" name="Name" placeholder="Name" value=><br /><br />
       Enter Year:<input type="text" name="Year" placeholder="Year" value=><br /><br />
       Enter Branch:<input type="text" name="Branch" placeholder="Branch" value=><br /><br />
       Enter Batch:<input type="text" name="Batch" placeholder="Branch" value=><br /><br />
       Enter Email id:<input type="text" name="Email_id" placeholder="Email" value=><br /><br />
       Enter Password:<input type="text" name="Password" placeholder="Password" value=><br /><br />
       Enter Contact:<input type="text" name="Contact" placeholder="Contact" value=><br /><br />
       Enter Father's Name:<input type="text" name="Father_Name" placeholder="Father's Name" value=><br /><br />
       Enter Mother's Name:<input type="text" name="Mother_Name"placeholder="Mother's Name"  value=><br /><br />
       Enter Parent's Contact:<input type="text" name="Parent_Contact" placeholder="Parent's Contact" value=><br /><br />
    </form>
  </body>
</html>
